# Database
DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"

# App
ORIGIN="http://localhost:5173"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# Social Providers
APPLE_CLIENT_ID=""
APPLE_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Email (Resend)
RESEND_API_KEY="re_123456789"
EMAIL_FROM="onboarding@resend.dev"

# Stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
